.input {
  background: #d9d9d9;
  width: 285px;
  height: 50px;
  position: relative;
  top: 102px;
  margin: 20px 0;
  border: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  padding-left: 10px;
}

.input::placeholder {
  color: #44b26f;
}

.logo-password {
  width: 45px;
  position: relative;
  left: 335px;
  top: 41px;
  cursor: pointer;
}
