.input {
  background: #d9d9d9;
  width: 285px;
  height: 50px;
  position: relative;
  top: 102px;
  margin: 20px 0;
  border: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  padding-left: 10px;
}

.input:hover {
  opacity: 0.85;
}

.input::placeholder {
  color: #44b26f;
}

.logo-password {
  width: 34px;
  position: relative;
  left: 340px;
  top: 37px;
  cursor: pointer;
}

.logo {
  color: #44b26f;
  width: 1.7em;
  height: 1.7em;
}

.logo:hover {
  transform: scale(1.08);
}

.error {
  border: 1px solid red;
}

.error::placeholder {
  color: red;
}