.logo-login {
  position: relative;
  width: 280px;
  height: 40px;
  top: 52px;
  left: 90px;
  cursor: pointer;
}

.logo-table {
  position: relative;
  width: 240px;
  height: 40px;
  top: 20px;
  left: 29px;
  cursor: pointer;
}

.logo-table:hover,
.logo-login:hover {
  opacity: 0.85;
}
