.container-table {
  background: #f5f5f5;
  width: 872px;
  margin: 60px auto;
}

table {
  background: #d9d9d9;
  border-spacing: 0ch;
  box-shadow: 0px 4px 4px 0px #00000040;
}

thead {
  background: #0ec86f;
  border: none;
}

th,
td {
  width: 246px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

th {
  color: #726969;
}

tr {
  height: 39px;
}

.odd-line {
  background: #3cd78c;
  color: #a58f8f;
}

.logo-arrow {
  height: 0.9em;
  cursor: pointer;
}

.logo {
  color: black;
  cursor: pointer;
  margin: 3px;
}
.logo-arrow:hover,
.logo:hover {
  opacity: 0.7;
}

.btns-edit-del {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#modal-modal-title {
  color: #05bc52;
  font-size: 20px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.btns-modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.btn-modal {
  width: 115px;
  height: 33px;
  padding: 7px, 30px, 7px, 30px;
  color: #ffffff;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.delete {
  background: #fb0000;
}

.cancel-delete {
  background: #d8d5d5;
}

.cancel-edit {
  background: #726969;
}

.submit {
  background: #44b26f;
}
